body {
  background: white url(../images/sideshot-bg-big.jpg) top right no-repeat fixed;
  background-size: contain;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  color: black;
  text-align: left;
}

.site {
  margin: 35px 0 auto 50px;
}

.site .header {
  margin-bottom: 30px;
}

/* this is actually the nav items... could be `nav a` */
.site .header a.extra,
nav a.extra {
  color: #880918;
  font-size: 180%;
  font-weight: 300;
  margin-left: 0;
  margin-right: 20px;
  /*text-align: left; */
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all .45s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  -moz-transition: all .45s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  -o-transition: all .45s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  -ms-transition: all .45s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  transition: all .45s cubic-bezier(0.75, 0.25, 0.25, 0.75);

}
.site .header a.extra:hover,
nav a:hover {
  color:#55f;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

nav a.active {
  border-bottom: 2px solid #bbb;
  padding-bottom: 7px;
}

nav.social {
  margin-top: 30px;
}

.site .footer {
  border-top: none;

}
.title a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 16px solid #444;
}

a:link, a:visited  { color: #000; }
a:hover   { color: #ccc; }

.logo {
  width:80%;
}

@media screen and (max-width: 420px) {
  .logo { width: 50%; }
}


h2 { font-size: 22px; font-weight: bold; }
.page-title { text-transform: capitalize;}

p.copyright a {
  font-family: 'Patrick Hand SC', helvetica, arial, cursive, sans-serif;
  font-size: 12px;
  text-decoration: none;
  position: relative;
  left: 0;
  bottom: 0;
  margin: 0;
  color: #aaa;
  -webkit-transition: background-color .33s ease-in, color .33s ease-in;
  -moz-transition: background-color .33s ease-in, color .33s ease-in;
  -o-transition: background-color .33s ease-in, color .33s ease-in;
  -ms-transition: background-color .33s ease-in, color .33s ease-in;
  transition: background-color .33s ease-in, color .33s ease-in;
}

p.copyright a:hover {
  /*background-color: slategray;*/
  color: #333;
  opacity: .4;
}

.flash-player {
/*  position: relative;
  top: 0;
  left: 0;*/
  width: 320px;
  background: #444;
  height: 16px;
}

@media screen and (max-width: 420px) {
  .flash-player { display: none; }
}

.audio-title {
  display: inline-block; /*why do they have to be blocks?...*/
  font-size: 10px;
  -webkit-transform: translate(0,-5px);
     -moz-transform: translate(0,-5px);
      -ms-transform: translate(0,-5px);
       -o-transform: translate(0,-5px);
          transform: translate(0,-5px);
  color: #777;

}

/*
layout for single_post page
*/

.post {
  color: green;
}
a.back-link {
  display: block;
  float: right;
  width: 37px;
  height: 18px;
  background: url('/images/arrow-back.png') no-repeat;
  text-indent: -9999px;
  -webkit-transition: all .45s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  -moz-transition: all .45s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  -o-transition: all .45s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  -ms-transition: all .45s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  transition: all .45s cubic-bezier(0.75, 0.25, 0.25, 0.75);
}
a.back-link:hover {
  /*background-position: 0px 19px;*/
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

/*tour.html specifics*/
.gig_addr {
  color: #888;
  font-size: 80%;
}