/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  color: white;
  text-align: center;
  background: #000 url("../images/red-xr-dark-bg.jpg") no-repeat fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #ccc; }
a:hover   { color: #000; }
a:visited { color: #ccc; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  font-family: "tahoma";
  /*text-align: justify;*/
  width: 42em;
  /*margin: 3em auto 2em;*/
  margin: 100px 0 auto 385px;
  line-height: 1.5em;
  left: 0px;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  color: #a00;
  font-size: 200%;
}

.site .header h1.title a:hover {
  color: olive;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
  font-size: 120%;
}

.site .header a.extra:hover {
  color: olive;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 100%; /*was 80%*/
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

.social li {
  height: 58px;
  width: 60px;
  background: url("../images/social-icons-color.png") no-repeat;
  display: inline-block;
  position: absolute;
  right: 0;
  opacity: .5;
  text-indent: -9999px;
  transition: opacity .5s ease-in-out;
}
.social li:hover { opacity: 1; }

.social .fb   { background-position: 0 0; right: 160px;}
.social .tw   { background-position: -60px 0; right: 80px;}
.social .mail { background-position: -120px 0;}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
